@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Lato:400';
 
 
html, body, #myChart{
  height:100%;
  width:100%;
}
 
.zc-ref {
  display: none;
}
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

#myChart2 {
  display: flex;
  position: center;
  margin-left: 20%;
}






